{"swagger":"2.0","info":{"title":"Default title","description":"Kursy walut NBP","version":"1.0"},"host":"api.nbp.pl","basePath":"/api/exchangerates","schemes":["https"],"consumes":[],"produces":[],"paths":{"/tables/{table}/":{"get":{"responses":{"default":{"description":"default","schema":{}}},"operationId":"tables","parameters":[{"name":"table","in":"path","required":true,"type":"string","default":"A","x-ms-summary":"Tabela z walutami","enum":["A","B","C"]},{"name":"Accept","in":"header","required":false,"type":"string","enum":["application/json","application/xml"],"x-ms-visibility":"advanced","default":"application/json"}],"summary":"Pobieranie tabeli kursów","description":"Description dla Pobieranie tabeli kursów"}},"/rates/{table}/{code}/":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Kurs określonej waluty","operationId":"table_code","description":"","parameters":[{"name":"table","in":"path","required":true,"type":"string","default":"A","x-ms-summary":"Tabela z walutami","enum":["A","B","C"]},{"name":"code","in":"path","required":true,"type":"string","x-ms-summary":"Trzyliterowy kod waluty"},{"name":"Accept","in":"header","required":false,"type":"string","default":"application/json","enum":["application/json","application/xml"],"x-ms-visibility":"advanced"}]}},"/rates/{table}/{code}/{date}/":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"rates":{"type":"array","items":{"type":"object","properties":{"no":{"type":"string","description":"no"},"effectiveDate":{"type":"string","description":"effectiveDate"},"mid":{"type":"number","format":"float","description":"kurs","title":""}}},"description":"rates"}}}}},"operationId":"table_code_date","summary":"Kurs określonej waluty na dzień X","x-ms-visibility":"advanced","parameters":[{"name":"table","in":"path","required":true,"type":"string","default":"A","enum":["A","B","C"],"x-ms-summary":"Tabela z walutami"},{"name":"code","in":"path","required":true,"type":"string","x-ms-summary":"Trzyliterowy kod waluty"},{"name":"date","in":"path","required":true,"type":"string","description":"","format":"date","x-ms-summary":"Data w formacie RRRR-MM-DD"},{"name":"Accept","in":"header","required":false,"type":"string","default":"application/json","enum":["application/json","application/xml"],"x-ms-visibility":"advanced"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}